<!--{% from "macros/_form.html" import render_form %}-->

{% set page_title = 'Register' %}

{% extends 'layouts/base.html' %}

{% block body %}
  <div class="container">
    <div class="row mt-5">
      <div class="col-4 offset-4">
        <h1 class="text-center">Register</h1>
        <form action="{{ url_for('register') }}" method="POST">
          <div class="form-group">
             <label for="username">Username</label>
              <input type="text" class="form-control" id="username" name="username" aria-describedby="username" placeholder="Enter username">
          </div>
          <div class="justify-content-center">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
     </div>
    </div>
  </div>
{% endblock %}