{% extends 'layouts/base.html' %}

{% block title %}User Dashboard{% endblock %}

{% block body %}

<div class="container">
    <div class="flex justify-content-center">
        <h1>Dashboard</h1>
         <p>Username: {{ session["username"] }}</p>
        <p>Group Name: {{ roles_data['role_name'][0] }}</p>
    </div>
    <!-- a dive that will align card in horizontailly only 3 cols -->
    <div>
        {% set action_url = url_for('search_machine') %}
        {% include 'user/searchbox.html' %}
    </div>
    <div class="row">
        {% set m_len = m_data['machine_id']| length %}
        {% set machine_ids = m_data | map(attribute='machine_id') | list %}
        {% set unique_machine_ids = machine_ids | unique  | list %}
        {% set machine_id_count = unique_machine_ids | length %}
        {% set max_voltage = m_data['battery_voltage']|max %}
        {% set max_ambient_temp = m_data['ambient_temperature']|max %}
        {% set max_psp = m_data['psp']|max %}
        {% set max_current = m_data['current']|max %}
        {% set max_transformer_temp = m_data['tr_temp']|max %}
        {% set max_oil_level = m_data['oil_level']|max %}
        {% set data_details = [
            {"card_color": "primary", "title": "Machine Count", "val": machine_id_count , "unit": "quantity"},
            {"card_color": "primary", "title": "Max voltage", "val": max_voltage, "unit": "V"},
            {"card_color": "success", "title": "Max Ambient Temp.", "val": max_ambient_temp, "unit": "C"},
            {"card_color": "danger", "title": "Max PSP", "val": max_psp, "unit": "KW"},
            {"card_color": "primary", "title": "Max Current", "val": max_current, "unit": "A"},
            {"card_color": "danger", "title": "Max Transformer Temp.", "val": max_transformer_temp, "unit": "C"},
            {"card_color": "primary", "title": "Max Oil Level", "val": max_oil_level, "unit": "L"},
        ] %}
        {% for idx in range(7) %}
        <div class="col-md-4 mb-4">
            {% set card_color = data_details[idx]['card_color'] %}
            {% set title = data_details[idx]['title'] %}
            {% set val = data_details[idx]['val'] %}
            {% set unit = data_details[idx]['unit'] %}
            {% include 'user/card_details.html' %}
        </div>
        {% endfor %}
    </div>
    <div>
        {% set m_data_object = m_data %}
        {% include 'user/data_table_details.html' %}
    </div>
</div>

{% endblock %}