
  <div class="container mt-5">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Machine ID</th>
             <th>Machine Alias</th>
              <th>Machine Location</th>
            <th>Current</th>
            <th>Voltage</th>
            <th>Power</th>
            <th>Transformer Temp</th>
            <th>Ambient Temp</th>
            <th>Oil Level</th>
              <th>Created at</th>
          </tr>
        </thead>
        <tbody>
        {% set m_len = m_data_object['machine_id']|length %}
            {% for idx in range(m_len) %}
             <tr>
              <td>{{ m_data_object['machine_name'][idx] }}</td>
              <td>{{ m_data_object['machine_alias'][idx] }}</td>
              <td>{{ m_data_object['machine_location'][idx] }}</td>
              <td>{{ m_data_object['battery_voltage'][idx] }}</td>
              <td>{{ m_data_object['current'][idx] }}</td>
              <td>{{ m_data_object['psp'][idx] }}</td>
              <td>{{ m_data_object['tr_temp'][idx] }}</td>
              <td>{{ m_data_object['ambient_temperature'][idx] }}</td>
              <td>{{ m_data_object['oil_level'][idx] }}</td>
              <td>{{ m_data_object['created_time'][idx] }}</td>
             </tr>
            {% endfor %}

        </tbody>
      </table>
    </div>
  </div>